{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-4">
        {{ partial "breadcrumb.html" . }}
        <h1 class="border-bottom border-primary d-inline-block"><script>
          var keyword = (window.location.search).substr(3);
          var result = keyword.replaceAll("+", " ");
          document.write(result);
        </script></h1>
      </div>
      <div class="{{if .Params.sidebar}}col-lg-8 mb-lg-0 mb-5{{else}}col-12{{end}}">
        <div id="search-results" class="row"></div>
        <script id="search-result-template" type="text/x-js-template">
          <div class="col-lg-8">
            <article>
              <div class="border-bottom">
                <div class=" row mt-3">
                  <p><a class="col-lg-10 post-title" href="{{.RelPermalink}}">{{ .Title }}</a></p>
                </div>
             </div>
              </article>
          </div>
        </script>
      </div>
      {{ if .Params.sidebar }}
      {{ partial "sidebar.html" . }}
      {{ end }}
    </div>
  </div>
</section>

{{ "<!-- Search index -->" | safeHTML }}
<script>
  var indexURL = {{"index.json" | absLangURL}}
</script>

{{ end }}